<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Struts Problem Tutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D86737E1BB7B80E00B04A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D8673921BB7B80E00B04A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D86739D1BB7B80F00B04A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
